* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  .bodyClass {
    text-align-last: center;
    text-align: -webkit-center;
  }
  .labelCheck {
    display: flex;
    flex-direction: column;
  }
  .textColorInput{
    color: #2196F3;
    font-size: 14px;
    background: transparent;
  }
  .alignButton{
    text-align-last: center;

  }
  .buttonModal {
    text-align-last: center;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    background: #515CC6;
  }
  .titleModal{
    font-size: 32px;
    color: #0E0E11;
    font-weight: 700;
  }
  .modalW{
    width: 92%;
    max-width: 345px;
    height: 500px;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .p-input-2{
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    background: #ffffffa3;
  }
  .check > svg{
    color: #DADADA;
  }
  .items-center {
    /* width: 343px; */
    /* justify-content: flex-start; */
    text-align-last: start;
  }
  .max-w-ld {
    border-bottom: solid 1px lightgray;
  }
  .subTask {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #575767;
  }
  .accent-gray-500{
    accent-color: #F8F8F8;
    width: 24px;
  }
  .task-item{
    display: flex;
  }
  .section-title {
    font-size: 18px;
    color: #575767;
    font-weight: 700;
  }
  .dataDay {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0px;
    color: #0E0E11;
  }
  .text-gray-600 {
    font-size: 14px;
  }
  /* Estilo global para links */
  a {
    color: #3490dc;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  a:hover {
    color: #2779bd;
  }
  
  /* Define o estilo de botão global */
  .button {
    padding: 10px 20px;
    border: none;
    background-color: #3490dc;
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #2779bd;
  }
  
  /* Define estilos de texto global */
  h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  